.dropdown{
    display: inline-block;
}
.dropdown button{
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}
.dropdown .content{
    position: absolute;
    display: none;
    background-color: hsl(0, 0%, 91%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 70%);
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
p{
    margin-top: 180px;
    background-color: red;
}