*{
    box-sizing: border-box;
    font-size: 15px;
    font-family: sans-serif;
}
body{
    margin:0;
}
header{
    background-color: slategray;
    text-align: center;
    padding: 20px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;


}
li{
   padding: 10px 15px;
    /* margin: 10px 15px; */ 
    float: left;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 50px;
    
}
nav{
    background-color: black;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
a:hover{
    background-color: rgb(60, 70, 80);
    border-radius: 15px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    background-color: slategray;
    text-align: center;
    clear: both;
    padding: 20px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
    
}